body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #909499;
	-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

/* container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* header */
.header {
	width: 100%;
	height: 100px;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header.fixed {
	height: auto;

	position: fixed;

	background-color: #31344e;
}

.header.fixed .header__inner {
	padding: 20px 0;
	border-bottom: 0;
}

.header__inner {
	padding: 35px 0;
	display: flex;
	justify-content: space-between;
	
	border-bottom: 1px solid #515369;
	align-items: center;
}

/* nav */
.nav {
	display: flex;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav__link {
	margin-left: 50px;
	color: #fff;
	text-decoration: none;
	opacity: .65;
	transition: opacity .1s linear;
}

.nav__link:first-child {
	margin-left: 0;
}

.nav a:hover {
	opacity: 1;
}

/* intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
	padding-top: 100px;

	background: #31344e url(img/intro.jpg) center no-repeat;
	background-size: cover;
}

.intro__inner {
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
	text-align: center;

}

.intro__title {
	margin: 0 0 30px;

	font-family: 'Open Sans' sans-serif;
	font-size: 65px;
	line-height: 1.1;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.intro__suptitle {
	margin-bottom: 60px;
	font-size: 22px;
	color: #fff;
	line-height: 1.5;
	font-weight: 400;
}

/* button */
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 14px 40px;
	border: 0;
	cursor: pointer;

	border-radius: 2px;

	font-family: inherit;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	transition: background .1s linear
}

.btn--red {
	background-color: #e84545;
}

.btn--red:hover {
	background-color: #c73434;
}

.btn--long {
	min-width: 280px;
}

/* futures */
.futures {
	display: flex;
	margin: 100px 0;
	flex-wrap: wrap;
}

.futures__item {
	width: 33.33333%;
	text-align: center;
	padding: 0 40px;
	margin: 25px 0;
}

.futures__icon {
	margin-bottom: 25px;
	transition: all .2s ease-in-out;
}

.futures__icon:hover {
	transform: scale(1.2);
}

.futures__title {
	font-size: 14px;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;

	margin-bottom: 20px;
}

.futures__text {
	font-size: 14px;
	color: #6c7279;
	line-height: 1.5;
}

/* works */
.works {
	display: flex;
	flex-wrap: wrap;
}

.works__item {
	width: 25%;
	height: 350px;

	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;

	position: relative;
	overflow: hidden;
}

.works__item:hover .works__content {
	opacity: 1;
}

.works_img {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;

	transform: translate3d(-50%, -50%, 0);	
}

.works__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;

	background-color: rgba(232, 69, 69, 0.9);

	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	transition: opacity .2s linear;
}

.works__title {
	margin-bottom: 5px;

	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.works__text {
	font-size: 14px;
	color: #fff;
}

/* team */
.team {
	margin: 100px 0 70px;
}

.team__inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.team_item {
	width: 25%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.team_photo {
	margin-bottom: 20px;

	display: block;
	max-width: 100%;
	height: auto;
}

.team__name {
	margin-bottom: 8px;

	font-size: 22px;
	color: #2d3033;
}

.team__prof {
	margin-bottom: 15px;

	font-size: 13px;
	color: #e84545;
	text-transform: uppercase;
}

.team_text {
	color: #6c7279;
	font-size: 14px;
	line-height: 1.5;

	margin-bottom: 20px;
}

/* social */
.social {
	display: flex;
}

.social--footer {
	justify-content: center;
	color: #fff;
}

.social__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-right: 4px;
	color: #c6cacc;
	text-decoration: none;

	border: 1px solid #c6cacc;

	transition: color, background .2s linear;
}

.social__item:hover {
	color: #fff;
	background-color: #e84545;
	border: 0;
}

.social--footer 
.social__item {
	color: #fff;
	border: 2px solid #fff;
	border-radius: 3px;
}

.social--footer 
.social__item:hover {
	background-color: #fff;
	color: #3a3e64;
}

/* reviews */
.reviews {
	overflow: hidden;
	background-color: #53354a;
}

.reviews__slider {
	height: 500px;
	overflow: hidden;
}

.reviews__slider.slick-initialized {
	height: auto;
}

.reviews__item {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.reviews__photo {
	width: 50%;
	height: 500px;
	position: relative;
}

.reviews_img {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;

	transform: translateY(-50%);
}

.reviews_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	padding-left: 80px;
}

.reviews__text {
	margin-bottom: 25px;
	font-family: 'Cardo', sans-serif;
	font-style: italic;
	font-size: 36px;
	line-height: 1.2;
	color: #fff;
}

.reviews__author {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

/* slick-dots */
.slick-dots {
	display: flex;
	justify-content: center;

	margin: 0;
	padding: 0 0 30px;
	list-style: none;

	position: absolute;
	width: 50%;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.slick-dots li {
	margin: 0 7px;
}

.slick-dots button {
	width: 15px;
	height: 15px;

	background: #fff;
	border-radius: 50%;
	
	opacity: 0.5;
	border: 0;
	padding: 0;
	font-size: 0;
	color: transparent;
	cursor: pointer;

	outline: none;
}

.slick-dots .slick-active button {
	opacity: 1;
	width: 20px;
	height: 20px;
}

/* download */
.download {
	margin: 90px 0;
	text-align: center;
}

.download__title {
	margin-bottom: 10px;

	font-size: 28px;
	color: #3b3e41;
	font-weight: 300;
}

.download_text {
	margin-bottom: 30px;

	font-size: 13px;
	color: #3b3e41;
	font-weight: 700;
	text-transform: uppercase;
}

/* footer */
.footer {
	background-color: #3a3e64;
}

.footer__inner {
	display: flex;
	flex-wrap: wrap;

	padding: 70px 0;
}

.footer__block {
	width: 33.33333%;
	padding: 0 15px;

	text-align: center;
}

.footer__title {
	margin-bottom: 10px;

	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.footer__address {
	font-size: 14px;
	line-height: 1.5;
	color: rgba(255, 255, 255, .5);
	font-style: normal;
	line-height: 1.5;
}

.footer__text {
	font-size: 14px;
	line-height: 1.5;
	color: rgba(255, 255, 255, .5);
	line-height: 1.5;
}

/* copyright */
.copyright {
	padding: 20px 0;
	background-color: #313454;
}

.copyright__text {
	text-align: center;
	font-size: 14px;
	color: #808080;
	line-height: 1.5;
}

.copyright__text i {
	color: #e84545;
}

.copyright__text span {
	color: #fff;
}

/* media */
.burger {
	display: none;
	padding: 15px 0;

	background: none;
	border: 0;
	cursor: pointer;
	outline: none;

}

.burger__item {
	display: block;
	width: 20px;
	height: 3px;

	background-color: #fff;

	font-size: 0;
	color: transparent;

	position: relative;
}

.burger__item:before,
.burger__item:after {
	content: "";
	height: 100%;

	background-color: #fff;

	position: absolute;
	right: 0px;
	z-index: 1;
}

.burger__item:before {
	width: 30px;
	top: -8px;
}

.burger__item:after {
	width: 10px;
	bottom: -8px;
}


/* media */
@media (max-width: 1300px) {
	.works__item {
		width: 50%;
	}
}

@media (max-width: 991px) {

	/* nav */
	.nav {
		display: none;
		width: 100%;
		flex-direction: column;

		background-color: #31344e;
		text-align: right;

		position: absolute;
		right: 0;
		top: 100%;
	}

	.nav.show {
		display: flex;
	}

	.nav__link {
		padding: 10px 15px;
	}

	.burger {
		display: block;
		color: white;
		font-size: 24px;
	}

	/* intro */
	.intro__title {
		font-size: 40px;
	}

	/* futures */
	.futures__item {
		width: 50%;
	}

	/* team */
	.team_item {
		width: 50%;
		text-align: center;
	}

	.team_photo {
		margin-left: auto;
		margin-right: auto;
	}
	.social {
		justify-content: center;
	}

	/* reviews */
	.reviews__photo {
		width: 100%;
		overflow: hidden;
	}

	.reviews__photo {
		margin-top: 15px;
	}

	.reviews_content {
		width: 100%;
		padding: 50px 0;
	}

}

@media (max-width: 767px) {
	
	/* intro */
	.works__item {
		width: 100%;
	}

	.intro {
		height: auto;
		padding-top: 130px;
		padding-bottom: 30px;
	}

	.intro__suptitle {
		font-size: 14px;
		margin-bottom: 30px;
	}

	.intro__title {
		font-size: 30px;
	}

	/* futures */
	.futures__item {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.futures {
		margin: 30px 0;
	}

	/* team */
	.team {
		margin: 60px 0 30px;
	}

	.team_item {
		width: 100%;
	}
	
	/* reviews */
	.reviews__text {
		font-size: 26px;
	}

	.reviews_img {
		right: -80px;
	}

	/* btn */
	.btn--long {
		min-width: 260px;
	}

	/* btn */
	.download {
		margin: 50px 0;
	}

	/* download */
	.download__title {
		    font-size: 24px;
	}

	/* footer */
	.footer__block {
		width: 100%;
		margin-bottom: 30px;
		padding-left: 0;
		padding-right: 0;
	}

	.footer__block:last-child {
		margin-bottom: 0;
	}

	.footer__inner {
		padding: 30px 0;
	}

}

@media (max-width: 414px) {

	/* reviews */
	.reviews_img {
		right: -150px;
	}
}